body{
    background-color: #333333;
}

.data-point{
    font-size: 4vw;
}

.snapshot-close{
    position: absolute;
    left: 0.5em;
    top: -0.1em;
    font-size: 3em;
}

.angle_gauge {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 100px;
}